.header {
    position: sticky;
	top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding-left: 2rem;
}

.header-logo img {
    height: 130px;
    width: auto;
}
