.nav {
    font-size: 1.3rem;
}

.link-list {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.link-list-item {
    transform: scale(1);
	transition: transform 0.2s;
}

.link-list-item:hover {
	transform: scale(1.2);
	transition: transform 0.2s;	
}

.link-list-item-link {
    color: #ffffff;
    padding: 0 15px;
}

.link-list-item-link:hover {
    color: #041057;
}

.link-list-item-link.active {
    border: #000000 1px solid;
    border-radius: 100%;
    background-color: #ffffff;
    color: #041057;
}

.link-list-item-link.active:hover {
    color: #041057;
}
